body {
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }
  
  section {
    width: auto;
    height: auto;
    
    padding: 70px;
    text-align: left;
  }
  
  .sec1 {
    background-color: #e6dddd;
    display: flex;
  }

  .element1, .element2 {
    flex: 1;
    align-items: center;
  }

  

  .logo-top {
    width: 200px;
    height: 200px;
    margin-top: -90px;
    margin-bottom: 20px;
    margin-left: -30px;
  }

  .headline {
    text-align: left;
    color: #6903dd;
    font-size: 40px;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 800;
  }

  .headline1 {
    text-align: left;
    color: #0f9b0f;
    font-size: 40px;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 800;
  }

  .promisse {
    text-align: left;
    font-size: 18px;
    color: #333;
  }

  .buttonwhats {
    text-decoration: none; 
  display: inline-block; 
  width: 200px;
  padding: 10px 20px; 
  text-align: left;
  background-color: #8302da9a; 
  color: #fff; 
  border: 1px white solid; 
  border-radius: 9px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

  .swing {
    animation: swing 6s ease-in-out infinite;
    transform-origin: center;
    margin: 0;
    padding: 14px;
  }

  @keyframes swing {
    0%, 100% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(3deg);
      }
  }
  
  .benefits {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
   
    background-color: #5c0091;
  }
  
  .benefit {
    width: 30%;
    margin: 10px;
    padding: 20px;
    background-color: #d302fd;
    border: solid 1px whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  h3 {
    color: #f5f5f5;
  }
  
  .plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .plan {
    width: 45%;
    margin: 10px;
    padding: 20px;
    background-color: #8100bd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    border: 2px solid white;
    border-radius: 15px;
  }

  .bot {
    margin: 20px;
    padding: 10px;
    width: 200px;
    height: auto;
   
    position: relative;
    animation: moveBot 4s linear infinite; /* 2s de duração, linear easing, repetição infinita */
}

@keyframes moveBot {
    0% {
        left: 0; /* Início da animação, posição à esquerda */
    }
    50% {
        left: calc(100% - 200px); /* Metade da animação, posição à direita */
    }
    100% {
        left: 0; /* Fim da animação, volta à posição à esquerda */
    }
}

  h2 {
    color:#f5f5f5;
    font-family: 'comfortaa', sans-serif;
    font-weight: 800;
  }

  .sup1 {
    color:#3bc429;
    font-family: 'comfortaa', sans-serif;
    font-weight: 800;
  }

  p {
    color: #f5f5f5;
  }

  .i {
    font-weight: 700;
    background-color: #23a334;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
  }

  .botplan {
    width: 350px;
    height: auto;
  }
  
  .faq {
    text-align: left;
    margin-top: 30px;
    background-color: #6c338d;
    display: flex;
  }

  .element3, .element4 {
    flex: 1;
    align-items: center;
  }

  
  .faq-item {
    margin-bottom: 5px;
    padding: 12px;
    border: 1px white solid;
    border-radius: 8px;
  }
  
  footer {
    background-color: #34495e;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .social-icons {
    margin-top: 20px;
  }  

  /*Responsivo*/

  /* Estilos padrão para telas maiores */
body {
    font-size: 16px; /* Defina um tamanho de fonte padrão para o corpo do documento */
  }
  /* Faça ajustes para a seção 1 em telas menores */
  @media (max-width: 768px) {
    .sec1 {
      flex-direction: column;
      text-align: center;
      margin: 0;
      padding: 50px;
    }
  
    .element1, .element2 {
      flex: 1;
      align-items: left;
      text-align: left;
    }

    .logo-top {
        width: 150px;
        height: 150px;
      }
  
    .headline {
      font-size: 24px;
    }

    .headline1 {
      font-size: 24px;
    }
  
    .promisse {
      font-size: 16px;
    }

    .buttonwhats {
        text-decoration: none; 
        text-align: left;
      display: inline-block; 
      padding: 16px; 
      background-color: #8302da9a; 
      color: #fff; 
      border: 1px solid white ;
      border-radius: 9px; 
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 80%;
      }

      .swing {
        animation: swing 6s ease-in-out infinite;
        transform-origin: center;
        margin: 0;
        padding: 14px;
        width: 80%;
      }
  

  }
  
  /* Faça ajustes para os benefícios em telas menores */
  @media (max-width: 768px) {
    .benefits {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .benefit {
      width: 80%;
    }
  }
  
  /* Faça ajustes para os planos em telas menores */
  @media (max-width: 768px) {
    .plans {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .plan {
        width: 80%;
    }


  }
  
  /* Faça ajustes para o FAQ em telas menores */
  @media (max-width: 768px) {
    .faq {
      flex-direction: column;
      text-align: left;
      margin: 0;
      padding: 50px;
    }

    .element3, .element4 {
      flex: 1;
      align-items: left;
      text-align: left;
    }
  }
  
  /* Faça ajustes para o rodapé em telas menores */
  @media (max-width: 768px) {
    footer a {
      margin: 0 5px;
    }
  }
  